.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e6d4de, #9890c7);
    height: 100vh;
    width: 100%;
}

.profileContainer{
    flex-direction: row;
    display: flex;
    align-content: center;
    align-items: center;
    width: 1300px;
}

.photoProfile{
    align-content: center;
    align-items: center;
}

.photoProfile img{
    width: 200px;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: center;
    background-color: #d7d8ef;
    height: 600px;
    border-radius: 25px 0 0 25px;
}

.table{
    height: 600px;
    background-color: white;
    border-radius: 0 25px 25px 0;
}