.cards{
    background: linear-gradient(#e6d4de, #9890c7);
    min-height: 100vh;
}

.cardsContainer{
    background-color: white;
    width: 1200px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cardsTable{
    width: 1000px;
}

.backButton{
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}